
<div class="image-container">
      <img src="../assets/MR_logo.png" alt="Your Photo" width="1100px">
    </div>
<div class="app"></div>
    <form  [formGroup]="authForm" (ngSubmit)="saveAuthForm()" class="form-container">
        <h1 *ngIf="!registerMode">Login</h1>
        <h1 *ngIf="registerMode">Register</h1>
        <label class="in">User Name</label><br>
        <input formControlName="username" type="text" class="input"/><br>
        <br><label>Password</label><br>
        <input formControlName="password" type="password" class="input"/><br>

    <div class="container">
        <div class="vertical-center">
            <br><br>
            <button *ngIf="!registerMode"  type="submit">Login</button>
            <button *ngIf="registerMode"  type="submit">Register</button>
        </div>
    </div>
</form>
<span *ngIf="!registerMode" (click)="registerMode = true">Don't have an account? Register Here</span>
<span *ngIf="registerMode" (click)="registerMode = false">Don't have an account? Login Here</span>

