.buttonSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.iconContainer {
    display: flex;
    justify-content: flex-end;
}

.iconContainer i {
    margin-left: 5px;
    margin: 15px 5px;

}

.fa-trash {
    color: #d71010;
    margin: 10px;
    font-size : x-large;
}

.fa-edit {
    font-size: x-large;
}


h1 {
    margin-right: auto;
}
