<div *ngIf="movie">
    <h1>{{movie.title}}</h1>
    <h1>{{movie.description}}</h1>
    <p>Avrage Rating : {{movie.avg_ratings}}<br>
    <i class="fas fa-star" [ngClass]="{'orange' : movie.avg_ratings > 0}" ></i>
    <i class="fas fa-star" [ngClass]="{'orange' : movie.avg_ratings > 1}" ></i>
    <i class="fas fa-star" [ngClass]="{'orange' : movie.avg_ratings > 2}" ></i>
    <i class="fas fa-star" [ngClass]="{'orange' : movie.avg_ratings > 3}" ></i>
    <i class="fas fa-star" [ngClass]="{'orange' : movie.avg_ratings > 4}" ></i><br>
    
    Number Of Rarings {{movie.num_ratings}}</p><br>
    <h2>Rate the movie:</h2>
    <i class="fas fa-star" [ngClass]="{'purple' : rateEnterNum >= rate} "
        *ngFor="let rate of [1,2,3,4,5]" (mouseenter)="rateEnter(rate)"
        (click)="rateClick(rate)"
        (mouseleave)="rateEnterNum = 0"></i>
    
</div>
