/* You can add global styles to this file, and also import other style files */
@import '~@fortawesome/fontawesome-free/css/all.min.css';

body{
    margin: 20;
    padding: 5px 10px;
}

button{
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: 2px solid #ffffff;
    border-radius: 3px;
    color: #fff;
    background: #000;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    padding: 12px 20px;
    text-align:center;
    transition-duration: .15s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);

}
button:hover{
    color: #000;
    background: #ffa500;
}

.container {
    height: 200px;
    position: relative;

  }
  
.vertical-center {
    position: absolute;
    top: 20%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

body{
    background-color: #282c34;
    color: white;
    font-size: 25px;
    font-weight: 700;
    }

input {
    width: 600px;
    height: 30px;
    background-color: #b1ddf1;
    font-weight: bold;
    font-size: 20px;
}

textarea{
    width: 600px;
    height: 80px;
    background-color: #b1ddf1;
    font-weight: bolder;
    font-size: 20px;
}
    
.seven h1 {
    text-align: center;
        font-size:80px; font-weight:300; color:#ffa500; letter-spacing:1px;
        text-transform: uppercase;
    
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        grid-template-rows: 27px 0;
        grid-gap: 20px;
        align-items: center;
    }
    
    .seven h1:after,.seven h1:before {
        content: " ";
        display: block;
        border-bottom: 1px solid #ffa500;
        border-top: 2px solid #ffa500;
        height: 8px;
      background-color:#282c34;
    }
